<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="C:\Users\wesle\curso\tests" />
        <option value="$PROJECT_DIR$/CRUD/Tests/Entity" />
        <option value="$PROJECT_DIR$/CRUD/Tests/Middleware" />
        <option value="$PROJECT_DIR$/CRUD/Tests/Repository" />
      </list>
    </option>
  </component>
</project>